@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400;1,500&display=swap');
.stream{
    position:absolute;
    top:33%;
    margin:5%;
    left:0;
    right:0;
    display:block;
}

.stream-element{
    color:var(--font-color);
    /* background-color: var(--backdrop-color); */
    width:90vw;
    padding:1rem;
    padding-top:2rem;
    opacity:0;
    border-radius: 0.5rem;
    animation:stream-element-appear 0.5s ease;
    animation-fill-mode: forwards;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}
.stream-title{
    font-size:3rem;
    mix-blend-mode:overlay;
    display: inline-block;
    position: relative;
    color: var(--font-color);
}
.stream-body{
    font-size:2rem;
    mix-blend-mode:overlay;
    display: block;
    position: relative;
    color: var(--font-color);
    padding-top: 0.25rem;
    padding-left: 2rem;
}

.stream-title::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--font-color);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    animation:stream-title-underline 0.25s ease;
    animation-fill-mode: both;
    animation-delay:0.5s;
}

@keyframes stream-title-underline{
    100%{
        transform: scaleX(1);
    transform-origin: bottom left;
    }
}
@keyframes stream-element-appear {
    0%{
        transform:translate(0,50%) scale(85%,85%);
        opacity:0;
    }
    100%{
        transform:translate(0,0) scale(100%,100%);
        opacity:1;
    }
}

.experience-time{
    color: var(--font-color);
    opacity:1;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
}

b{
    font-weight:500;
}
a{
    font-weight:300;
    color:#0000FF;
    text-decoration: none;
}

#projects-view{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:0;
    padding:0;
    pointer-events: none;
    transition:transform 0.5s ease;
    transform:translateX(120vw);
}

._projectsView #projects-view{
    transform:translateX(0vw);
}